= form_tag import_products_path, class: "map-fields-form form-row" do
  .col-md-12.form-group
    %h2 Product details
  - if !@file_columns.include?('product_id')
    .col-md-12
      .alert.alert-danger
        = t 'import.product_source_id_missing'
  - @product_columns.each do |product_column|
    .col-md-6.form-group
      %label= t "activerecord.attributes.product.#{product_column}"
      = generate_product_select_tag(product_column, @file_columns)

  
  .col-md-6.form-group
    %label= t 'activerecord.attributes.product.brand'
    = select_tag "brand[name]", options_for_select(@select_options, @file_columns.include?('brand') ? 'brand' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-6.form-group
    %label= t 'activerecord.attributes.product.images'
    = select_tag "images[urls]", options_for_select(@select_options, @file_columns.include?('image_urls') ? 'image_urls' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-6.form-group
    %label= t 'activerecord.attributes.product.widgets'
    = select_tag "widget[name]", options_for_select(@select_options, @file_columns.include?('widget_name') ? 'widget_name' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-12
    %hr/
  .col-md-12
    %h2 Campaign details
  - if !@file_columns.include?('campaign_id')
    .col-md-12
      .alert.alert-danger
        = t 'import.campaign_source_id_missing'
  .col-md-4.form-group
    %label= t 'activerecord.attributes.campaign.source_id'
    = select_tag "campaign[source_id]", options_for_select(@select_options, @file_columns.include?('campaign_id') ? 'campaign_id' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-4.form-group
    %label= t 'activerecord.attributes.campaign.name'
    = select_tag "campaign[name]", options_for_select(@select_options, @file_columns.include?('campaign_name') ? 'campaign_name' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-4.form-group
    %label= t 'activerecord.attributes.campaign.url'
    = select_tag "campaign[url]", options_for_select(@select_options, @file_columns.include?('campaign_url') ? 'campaign_url' : nil ), class: "form-control", prompt: "Please Select"
  .col-md-12
    %hr/

  .col-md-12.form-group
    = link_to t('general.back'), products_path, class: "btn btn-default"
    = submit_tag "#{t 'import.title'}", class: "btn btn-success"
  .col-md-12